header .brand {
     font-family: 'Audiowide', cursive;
}
footer {
    position:fixed;
    bottom: 10px;
    width: 100%;
    height: 10px;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}